* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Montserrat', 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    color: white;
}

.header {
    background-image: url(../img/home/img/Landing6.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
}

.theProblem {
    background-image: url(../img/home/img/Problemimage.png);
    transform: rotate(180deg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
}

.mainHeading {
    display: inline-block;
    text-transform: uppercase;
    color: white;
    margin-top: 200px;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-weight: 300;
}

.scroll-to-start {
    border-radius: 200px;
    text-decoration: none;
    display: block;
    color: white;
    border: 1px solid white;
    padding: 7px 15px;
    margin: 30px 600px;

}