/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


body {
    background-color: #fff;
    font-family: 'Montserrat', 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    color: white;
}

.header {
    background-image: url(../img/home/img/Landing6.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    padding-bottom: 300px;
}

.theProblem {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/home/img/ProblemimageNew.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100vh;
    padding-top: 10px;
}

.theProblem .cols {
    text-align: center;
}

.theProblem .cols {
    display: block;
    content: " ";
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
}

.mainHeading {
    display: inline-block;
    text-transform: uppercase;
    color: white;
    margin-top: 150px;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-weight: 300;

    /*border-bottom: 2px solid black;*/
}

.theProblem .mainHeading {
    margin-top: 40px;
}

.afterLine:after {
    display: block;
    height: 1px;
    background-color: #171717;
    content: " ";
    width: 70rem;
    margin: 0 auto;
    margin-top: 30px;

}


.scroll-to-start {
    border-radius: 200px;
    text-decoration: none;
    display: block;
    color: white;
    border: 1px solid white;
    padding: 7px 15px;
    margin: 30px 600px;

}

.cols .logos{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

h3 {
    font-weight: 900;
    font-size: 1.5rem;
}

.theProblem .cols p {
    margin-top: 30px;
}

.theSolution {
    /* margin-top: 200px; */
}

.theSolution .mainHeading:after {
    display: block;
    height: 1px;
    background-color: #171717;
    content: " ";
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;

}

.theSolution p {
    color: #838383;
    transform: scale(0.7);
}

.method {
    background-image: url(../img/home/img/3_steps_image.png);
    background-size: cover;
    background-position: center;
    height: 135vh;
    text-align: center;
}

.methodHeading {
    font-family: 'Roboto', 'Lato', 'Arial', sans-serif;
    margin-top: 100px;
    padding-top: 190px;
}

.methodLogos {
    background-color: #1380b8;
    border-radius: 50%;
    padding: 1rem;
}


.method p {
    color: white;
    font-family: 'Roboto', 'Lato', 'Arial', sans-serif;
    padding: 0 50px;
}

.num {
    color: #1380b8;
    font-size: 3rem;
    display: block;

}

.subHeadings {
    color: #535353;
    font-family: 'Montserrat', 'Lato', 'Arial', sans-serif;
    font-size: 2rem;
}