.programs-header {
    background-image: url(../img/programs/img/DSE_6807.jpg);
    background-size: cover;
    background-position: center;
    height: 30vh;
    text-align: center;
    padding-bottom: 300px;
    opacity: 1000;
}

.firstCircleInFront {
    height: 40%;
    width: 28%;
    background-color: #aed7fd;
    border-radius: 100%;
    position: relative;
    transform: translateY(-70px) translateX(-300px);
    z-index: 1;
}

.secondCircleInFront {
    height: 30%;
    width: 20%;
    background-color: #aed7fd;
    border-radius: 100%;
    position: relative;
    transform: translateY(-270px) translateX(30px);
    z-index: 1;
}

.firstRectangularShadow {
    box-shadow: 25px -20px #fedbb0;
    /*position: relative;*/
    /*z-index: 0;*/
}

.secondRectangularShadow {
    box-shadow: -25px 20px #fedbb0;
    /*position: relative;*/
    /*z-index: 0;*/
}

.programWorkshopCols {
    position: relative;
    transform: translateY(-80px);
}

.programWorkshopText {
    position: relative;
    transform: translateY(-70px);
    z-index: 1;
}

.programWorkshopLogos {
    width: 30%;
    height: auto;
    position: relative;
    z-index: 2;
    transform: translateY(110px);
}

.programWorkshopBG {
    position: relative;
    /*transform: translateY(130px);*/
    z-index: 0;
}

.colImg {
    transform: translateX(100px) translateY(0px);
}

.phaseBubbles {
    z-index: 1;
}

.verticalLine {
    border-left: 3px solid #fedbb0;
    height: 420%;
    z-index: 0;
    position: absolute;
    transform: translateX(120px) translateY(0px)
}

@media only screen and (max-width: 1200px) {
    .firstCircleInFront {
        display: none;
    }

    .secondCircleInFront {
        display: none;
    }

    .verticalLine {
        transform: translateX(90px) translateY(0px)
    }

    .colImg {
        transform: translateX(0px) translateY(0px);
    }
}


@media only screen and (max-width: 575px) {
    .firstRectangularShadow {
        box-shadow: 0 0 #fedbb0;
        height: 15rem;
        width: auto;
        transform: translateX(-20px) translateY(10px)

    }

    .secondRectangularShadow {
        box-shadow: 0 0 #fedbb0;
        height: 15rem;
        width:auto;
        transform: translateX(-20px) translateY(10px)
    }

    .responsiveCenter {
        text-align: center;
    }

    .verticalLine {
        display: none;
    }
}